<p id="notice"><%= notice %></p>

<h3> <%= link_to 'New Cocktail', new_cocktail_path %> </h3>


<div class="container">

      <div class="row">
    <% @cocktails.each do |cocktail| %>


        <div class="col-xs-6 col-sm-6 cocktail-card">
          <%= render 'cocktail', cocktail: cocktail %>
        </div>

    <% end %>
      </div>


</div>
